@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
body {
  font-family: "Barlow", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.hamburger {
  display: none;
}

.nav-link ul li {
  display: inline;
  padding: 15px;
  list-style: none;
}

.login-li {
  padding-right: 0;
  margin-left: 30px;
  list-style: upper-roman;
}

.login-li .btn-login {
  color: #a0a1ac;
}

.nav-link ul li a {
  text-decoration: none;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #242942;
}

.hero {
  padding: 100px 0;
  position: relative;
}

.hero .hero-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .flex-content {
  width: 50%;
}

.hero .flex-content .left-content .sub-heading {
  letter-spacing: 5px;
  color: #a0a1ac;
}

.hero .flex-content .left-content .sub-heading .badge {
  background-color: #242942;
  padding: 3px 8px;
  color: #eef3f6;
  border-radius: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: 15px;
}

.hero .flex-content .heading {
  font-size: 64px;
  font-weight: bold;
  font-family: "Barlow Condensed", sans-serif;
  padding: 20px 0;
  color: #242942;
}

.hero .flex-content .heading-text {
  font-weight: regular;
  letter-spacing: 1px;
  width: 50%;
  color: #5b5f71;
}

.hero .flex-content .button-inline {
  padding: 30px 0;
}

.hero .flex-content .btn-demo {
  background-color: #ff5c5c;
  color: #eef3f6;
  font-weight: bold;
  border-radius: 6px;
  padding: 15px 30px;
  border: none;
  margin-right: 30px;
}

.hero .flex-content .button-layer {
  letter-spacing: 5px;
  color: #a0a1ac;
}

.hero .right-img {
  width: 100%;
}

.hero .right-img img {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.bg-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 50%;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .hamburger {
    display: block;
  }
  .nav-link {
    display: none;
  }
  nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav .nav-link ul li {
    display: block;
    text-align: center;
  }
  nav .login-li {
    padding-right: 0;
    margin-left: 0;
    border-top: 1px solid rgba(160, 161, 172, 0.3);
  }
  .active {
    display: block;
    width: 100%;
  }
  .hero {
    padding: 30px 0;
  }
  .hero .hero-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero .flex-content {
    width: 100%;
    padding: 15px;
  }
  .hero .flex-content .left-content .sub-heading {
    font-size: 11px;
  }
  .hero .flex-content .left-content .heading {
    font-size: 36px;
  }
  .hero .flex-content .heading-text {
    width: 80%;
  }
  .hero .flex-content .btn-demo {
    padding: 10px 15px;
    font-size: 11px;
    margin-right: 15px;
  }
  .hero .flex-content .button-layer {
    font-size: 11px;
    letter-spacing: 3px;
  }
  .hero .right-img {
    min-height: 300px;
  }
  .hero .right-img img {
    width: 95%;
  }
}
/*# sourceMappingURL=style.css.map */